<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  th:href="@{\css\style.css}">
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <h2>CRM - Customer Relationship Manager</h2>
        </div>
    </div>

    <div id="container">
        <div id = "content">
            <input type="button" value="Add Customer"
                   onclick="window.location.href = 'showFormForAdd'; return false; " class="add-button">

            <form action="search" method="get">
                Search Customer:
                <input type="text" name="searchName">
                <input type="submit" value="Search" class="add-button">
            </form>
            <table>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                <tr th:each="i : ${customers}">
                    <td th:text="${i.firstName}"/>
                    <td th:text="${i.lastName}"/>
                    <td th:text="${i.email}"/>
                    <td>
                        <a th:href="@{showForUpdate(id = ${i.id})}">Update</a>
                        <a th:href="@{showForDelete(id = ${i.id})}" onclick="if(!confirm('Are you sure')){return false;}">Delete</a>
                    </td>

                </tr>
            </table>
        </div>
    </div>

</body>
</html>